@model int

@{}
    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model">
        Edit
        <i class="fa fa-edit" area-hidden="true"></i>
    </a>

    <a class="btn btn-info" asp-page="./Details" asp-route-id="@Model">
        Details
        <i class="fa fa-info"></i>
    </a>
    <button class="btn btn-danger deleteBtn" data-id="@Model">
        Delete
        <i class="fa-solid fa-trash-can"></i>
    </button>

