@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- Hero -->
<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Welcome To Car Booking App</h1>
    <h4 class="mb-3">Best Cars in Town</h4>
    <a class="btn btn-primary" asp-page=".\Cars\Index" role="button">Check Our Catalog</a>
</div>
<!-- Hero -->

<!--
<div class="text-center">
    <h1 class="display-4">Welcome To Car Booking App</h1>
    <p>Check out our <a asp-page=".\Cars\index.cshtml">catalog</a>.</p>
</div>
-->

